---
import { GITHUB_USER } from "astro:env/server";

import UserInfo from "@components/UserInfo.astro";
import SkillsSection from "@components/SkillsSection.astro";
import Overview from "@components/Overview.astro";
import ProjectsGrid from "@components/ProjectsGrid.astro";

import UserInfoSkeleton from "@components/skeletons/UserInfoSkeleton.astro";
import ProjectsGridSkeleton from "@components/skeletons/ProjectsGridSkeleton.astro";

import Layout from "../layouts/Layout.astro";
import CurvedArrow from "@icons/CurvedArrow.astro";
---

<Layout title={`${GITHUB_USER} - Portfolio`}>
  <div class="relative flex flex-col items-center justify-center">
    <div class="absolute top-3 left-3 flex-col items-start hidden lg:flex">
      <div class="w-12 text-light-400 dark:text-dark-300">
        <CurvedArrow />
      </div>
      <span
        class="text-light-400 dark:text-dark-300 text-lg font-medium italic ml-5 text-center"
      >
        Explora <br /> aquí
      </span>
    </div>

    <div
      class="mt-10 mb-4 max-w-4xl grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 items-center space-y-4"
    >
      <div class="mx-4">
        <UserInfo server:defer>
          <UserInfoSkeleton slot="fallback" />
        </UserInfo>
      </div>

      <div class="space-y-4 mx-4 xl:mx-0 lg:mx-0">
        <Overview />

        <SkillsSection />
      </div>
    </div>

    <div
      class="w-full max-w-5xl mx-auto my-8 border-t border-light-300 dark:border-dark-400"
    >
    </div>

    <div class="w-full pb-10">
      <ProjectsGrid server:defer>
        <ProjectsGridSkeleton slot="fallback" />
      </ProjectsGrid>
    </div>
  </div>
</Layout>
