---
import BookIcon from "@icons/BookIcon.astro";
---

<div
  class="border border-light-300 dark:border-dark-400 rounded-lg p-4 text-light-500 dark:text-dark-200 text-sm space-y-2"
>
  <div class="flex items-center gap-2 text-light-600 dark:text-dark-100">
    <BookIcon />
    <h3 class="text-lg font-medium">Overview</h3>
  </div>
  <p class="text-light-600 dark:text-dark-200">
    Ingeniero de Sistemas de la Universidad del Cauca, con enfoque en el desarrollo de aplicaciones web modernas, combinando Frontend y Backend. Trabajo con tecnologías como React, Next.js, TypeScript y Python, implementando interfaces de alta fidelidad a partir de diseños definidos. He colaborado en equipos multidisciplinarios aplicando buenas prácticas de desarrollo, estructura de código y trabajo en equipo, con interés en seguir creciendo como desarrollador web y aportar soluciones funcionales y escalables.
  </p>
</div>
