---
import BookIcon from "@icons/BookIcon.astro";
---

<div
  class="border border-light-300 dark:border-dark-400 rounded-lg p-4 text-light-500 dark:text-dark-200 text-sm space-y-2"
>
  <div class="flex items-center gap-2 text-light-600 dark:text-dark-100">
    <BookIcon />
    <h3 class="text-lg font-medium">Overview</h3>
  </div>
  <p class="text-light-600 dark:text-dark-200">
    Desarrollador Frontend con experiencia en React, Next.js y TypeScript.
    Enfocado en UI/UX y diseño de producto con Figma, optimizando productos y
    MVPs. Con conocimientos en la creación de landing pages con Astro.
  </p>
</div>
